{% extends "base.html" %}
{% block content %}
<div class="dashboard-container container-fluid">
    <div class="row">
        <div class="dashboard-sidebar d-none d-md-block col-md-2">
            <div class="desktop-navbar d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{{ url_for('main.new_report') }}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-table d-block d-md-none"><img src="{{ url_for('static', filename='images/new_report.png') }}" alt="Novo Relatório" width="32" height="32" class="me-2"></i> <span class="ms-1 d-none d-md-inline text-black sidebar-item" style="{{ new_report_option }}">Novo Relatório</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.my_reports') }}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house d-block d-md-none"><img src="{{ url_for('static', filename='images/my_reports.png') }}" alt="Meus Relatórios" width="32" height="32" class="me-2"></i> <span class="ms-1 d-none d-md-inline text-black sidebar-item" style="{{ my_reports_option }}">Meus Relatórios</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.trash') }}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-trash d-block d-md-none"><img src="{{ url_for('static', filename='images/trash.png') }}" alt="Lixeira" width="32" height="32" class="me-2"></i> <span class="ms-1 d-none d-md-inline text-black sidebar-item" style="{{ trash_option }}">Lixeira</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.my_account') }}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-trash d-block d-md-none"><img src="{{ url_for('static', filename='images/user.png') }}" alt="Minha Conta" width="32" height="32" class="me-2"></i> <span class="ms-1 d-none d-md-inline text-black sidebar-item" style="{{ my_account_option }}">Minha Conta</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <nav class="mobile-header d-block d-md-none">
            <ul class="nav justify-content-around">
                <a href="{{ url_for('main.new_report') }}"><img src="{{ url_for('static', filename='images/new_report.png') }}" alt="Novo Relatório" width="32" height="32"></a>
                <a href="{{ url_for('main.my_reports') }}"><img src="{{ url_for('static', filename='images/my_reports.png') }}" alt="Meus Relatórios" width="32" height="32"></a>
                <a href="{{ url_for('main.trash') }}"><img src="{{ url_for('static', filename='images/trash.png') }}" alt="Lixeira" width="32" height="32"></a>
                <a href="{{ url_for('main.my_account') }}"><img src="{{ url_for('static', filename='images/user.png') }}" alt="Minha Conta" width="32" height="32"></a>
            </ul>
        </nav>

        <div class="dashboard col">
            {% block profile_header %}{% endblock %}
            <div class="dashboard-content">
                {% block panel_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

