{% set current_page = 'my_account' %}
{% set my_account_option = 'font-weight:700;' %}
{% extends "dashboard/dashboard_base.html" %}

{% block title %}Minha Conta{% endblock %}

{% block profile_header %}
<section class="user-data mt-4">
    <div class="card">
        <div class="card-img-top"></div>
        <div class="card-body little-profile text-center">
            <div class="pro-img"><img src="{{ url_for('static', filename='images/user_pictures/'+current_user.user_pic) }}" alt="user"></div>
            <h3 class="m-b-0">{{ current_user.username}} | {{ current_user.plan }}</h3>
            <div class="account-info">
                <p>{{ current_user.email }}</p>
            </div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Editar Perfil</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Editar Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="username" value="{{ current_user.username }}">
                        </div>
                        <div class="mb-3">
                            <label for="useremail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="useremail" value="{{ current_user.email }}">
                        </div>
                    </form>
                </div>
                <hr>
                <div class="modal-body">
                    <h5 class="modal-title">Trocar Senha</h5>
                    <form method="POST" action="/change_password">
                        <div class="password-change-container">
                            <input type="password" name="current_password" class="change_password_item" placeholder="Senha Atual" required>
                            <input type="password" name="new_password" class="change_password_item" placeholder="Nova Senha" required>
                            <button type="submit" class="btn btn-primary change_password_item">Trocar Senha</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="saveAccountBtn">Salvar Alterações</button>                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block panel_content %}
<hr>
<section class="plan-settings mt-4">
    <div class="row">
        <div class="plan-details col">
            <h3>Plano</h3>
            <p>Você está atualmente no plano <strong>{{ current_user.plan }}</strong>. Confira abaixo os benefícios que você está aproveitando:</p>
            <div class="row">
                <div class="col-md-6">
                    <ul class="custom-bullet">
                        <li>Relatórios ilimitados</li>
                        <li>Suporte prioritário</li>
                        <li>Acesso a análises avançadas</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="custom-bullet">
                        <li>Integrações personalizadas</li>
                        <li>Notificações por e-mail e SMS</li>
                        <li>Armazenamento em nuvem extra</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="buttons-container">
                <button class="btn btn-default">Melhorar Plano</button>
                <button class="btn btn-secondary dengerous-btns">Cancelar Plano</button>
            </div>
        </div>
        <div class="metrics col">
            <h3>Métricas do Perfil</h3>
            <p><strong>Relatórios Gerados</strong>: 10</p>
            <p><strong>Relatórios Armazenados</strong>: 5</p>
            <p><strong>Licença</strong>: 120 min / 300 min</p>
        </div>
    </div>
</section>
<hr>
<section class="privacy-security mt-4">
    <div class="title-w-btn">
        <h3>Privacidade e Segurança</h3>
        <a class="privacy-btn" data-bs-toggle="collapse" href="#privacy-security-information" role="button" aria-expanded="false" aria-controls="collapseExample">
            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 13L8.29289 12.2929L9 11.5858L9.70711 12.2929L9 13ZM10 22C10 22.5523 9.55229 23 9 23C8.44772 23 8 22.5523 8 22L10 22ZM3.29289 17.2929L8.29289 12.2929L9.70711 13.7071L4.70711 18.7071L3.29289 17.2929ZM9.70711 12.2929L14.7071 17.2929L13.2929 18.7071L8.29289 13.7071L9.70711 12.2929ZM10 13L10 22L8 22L8 13L10 13Z" fill="#33363F"/>
                <path d="M15 11L14.2929 11.7071L15 12.4142L15.7071 11.7071L15 11ZM16 2C16 1.44772 15.5523 1 15 1C14.4477 1 14 1.44771 14 2L16 2ZM9.29289 6.70711L14.2929 11.7071L15.7071 10.2929L10.7071 5.29289L9.29289 6.70711ZM15.7071 11.7071L20.7071 6.70711L19.2929 5.29289L14.2929 10.2929L15.7071 11.7071ZM16 11L16 2L14 2L14 11L16 11Z" fill="#33363F"/>
            </svg>
        </a>
    </div>
    <br>
    <div class="collapse privacy-content" id="privacy-security-information">
        <div class="row">
            <div class="col">
                <h4>Histórico de Acesso</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Data e Hora</th>
                                <th>Dispositivo</th>
                                <th>Localização</th>
                                <th>IP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2024-03-15 10:00</td>
                                <td>Desktop</td>
                                <td>New York, USA</td>
                                <td>192.168.1.1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <h4>Arquivos Importantes</h4>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Termos & Políticas
              <a href="#" class="badge bg-primary rounded-pill">Download</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Política de Privacidade
              <a href="#" class="badge bg-primary rounded-pill">Download</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Guia de Segurança
              <a href="#" class="badge bg-primary rounded-pill">Download</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              FAQ ou Ajuda
              <a href="#" class="badge bg-primary rounded-pill">Download</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Termos de Uso
              <a href="#" class="badge bg-primary rounded-pill">Download</a>
            </li>
        </ul>
        <br>
        <div class="buttons-container">
            <button class="btn btn-default">Ativar verificação de dois fatores</button>
            <button class="btn btn-secondary dengerous-btns" id="deleteAccountBtn">Deletar Conta</button>
        </div>
    </div>
</section>
<section class="notification-settings mt-4">
    <h3>Configurações de Notificações</h3>
    <form>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="emailUpdates">
            <label class="form-check-label" for="emailUpdates">
                Receber atualizações por e-mail
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="pushNotifications">
            <label class="form-check-label" for="pushNotifications">
                Ativar notificações push
            </label>
        </div>
    </form>
</section>
<style>
    .dashboard{
        padding: 0;
    }
</style>
{% endblock %}
