{% set current_page = 'new_report' %}
{% set new_report_option = 'font-weight:700;' %}
{% extends "dashboard/dashboard_base.html" %}

{% block title %}Novo Relatório{% endblock %}

{% block panel_content %}
<h2>{{ html_content_title | safe }}</h2>
<br>
<form id="audio_upload_form" action="{{ url_for('main.new_report') }}" method="POST" enctype="multipart/form-data">
    <p class="text-justify">Formatos aceitos: MP3 e MP4.</p>
    <input lang="pt-BR" type="file" name="audio_file" accept=".mp3,.mp4">
    <br><br>
    <input class="input-main btn-generate" type="submit" value="Gerar Relatório">
    <br><br>
</form>
<div class="report-loader">
    <div class="d-flex align-items-center">
        <strong role="status">Carregando...</strong>
        <div class="spinner-border ms-auto" aria-hidden="true"></div>
      </div>
</div>
<div class="report">
    {{ html_content | safe }}
</div>
<script>
    var html_content_title = {{ html_content_title|tojson|safe }};
    var is_report_generated = {{ is_report_generated }};
</script>
{% endblock %}
