{% set current_page = 'trash' %}
{% set trash_option = 'font-weight:700;' %}
{% extends "dashboard/dashboard_base.html" %}

{% block title %}Lixeira{% endblock %}

{% block panel_content %}
<h2>Lixeira</h2>
{% if user_trash==[]: %}
<p>Seus <a href="/my_reports">relatórios</a> ficaram por aqui por 7 dias quando forem apagados.</p>
{% else %}
    {% for report in user_trash %}
        <div class="report-list-item">
            <h4>{{ report.title }}</h4>
            Relatório apagado em: {{ report.date|safe }}
            <br>
            <br>
            <div class="collapse" id="{{ report.report_id }}">
                <div class="card-body">
                    {{ report.report|safe }}
                </div>
                <br>
            </div>
            <div class="reports-btns">
                <p class="d-inline-flex gap-1">
                    <a class="btn btn-primary btn-default" data-bs-toggle="collapse" href="#{{ report.report_id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Ler mais
                    </a>
                    <a data-id="{{ report.report_id }}" class="btn btn-danger btn-delete">
                        Apagar 
                    </a>
                </p>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}