main{
    padding-top: 0;
}
.site-footer {
    position: relative;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.hero-section {
    position: relative;
    color: white; /* Garante que o texto seja branco para contraste */
    text-align: center; /* Centraliza o texto na seção */
    padding: 100px 20px; /* Ajuste o padding conforme necessário */
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), /* Overlay escuro com opacidade de 70% */
        rgba(0, 0, 0, 0.7) /* Você pode ajustar a opacidade conforme necessário */
    ), url('../images/background.webp') no-repeat center center;
    background-size: cover;
    opacity: 1; /* Opacidade total para o pseudo-elemento, ajustes feitos via RGBA */
    z-index: -1; /* Mantém a imagem e o overlay atrás do conteúdo */
}


.hero-section .btn-main {
    background-color: #ffc107;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.features-section {
    padding: 10px 0;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.feature-box {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.description {
    padding-bottom: 0;
}

.call-to-action-section{
    background-color: #001a36;
    padding: 50px 0;
}

.call-to-action-btn-section{
    background-color: white;
    padding: 10px 0;
}

.call-to-action-section, .call-to-action-btn-section {
    color: white;
    text-align: center;
}

.call-to-action-section .btn-main, .call-to-action-btn-section .btn-main {
    background-color: #ffc107;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
