/* Base */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.flash-messages {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.flash {
    margin: 46px auto;
    padding: 5px;
    background-color: #f2f2f2;
}

li#user_nav_btns {
    float: right;
}

.col-auto.col-md-3.col-xl-2.px-sm-2.px-0 {
    background-color: #f7f7f7 !important;
}

.site-footer,
.site-navbar {
    background-color: #001a36;
}

/* Title Font */
.product-title {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    color: #ffc108;
}

/* Login e Register */
div#terms {
    overflow-y: scroll;
    max-height: 600px;
}
div#remember,
div#signup {
    margin-top: 10px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form-box {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group select {
    width: -webkit-fill-available;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #ffc107;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #cf9c06;
}

div#user-pic {
    display: grid;
    width: 100%;
}

.user-pic-form-item {
    margin: auto;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;;
}

.user-pic-options {
    border: 2px solid transparent;
}

.user-pic-options-modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribui o espaço igualmente */
    gap: 10px; /* Espaçamento entre as fotos */
}

.user-pic-options {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.user-pic-options:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}


/* Recording Options */
#options-container {
    min-height: 40vh;
}

/* Plans */
.plans-container, 
.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 80vh;
}

.plan-box, 
.option-box {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 50%;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.features-list li {
    margin: 10px 0; 
}

.btn-buy, .input-main, .btn-default {
    display: block;
    width: max-content;
    background-color: #f6b800;
    color: white;
    padding: 7px 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
}

.btn-buy:hover, .input-main:hover, .btn-default:hover {
    background-color: #cf9c06;
    color: white;
}

@media (max-width: 992px) {
    .option-box,
    .plan-box {
        width: auto;
    }
}

@media (max-width: 768px) {
    .plan-box
    .option-box {
        width: 100%; 
    }
}

/* Dashboard */

.dashboard-content {
    margin: 20px;
}

span.ms-1.d-none.d-sm-inline {
    color: black;
}

.dashboard-sidebar {
    background-color: #f7f7f7;
    width: fit-content;
}

.mobile-header {
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;

    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
}

.sidebar-item:hover {
    color: #ffc107 !important;
    
}

#audio_upload_form {
    display: grid;
}

.download-symbol,
.new-symbol,
.save-symbol {
    margin: -5px 0px 0px 10px
}

.btn-disabled {
    pointer-events: none; 
    opacity: 0.5;
}

/* Loader */

  .report-loader {
    display: none;
    margin-top: 300px;
  }

/* Alerts */
.alert {
    border-radius: 0;
    margin-bottom: 0;
}

/* Footer */
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding:20px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.widget-title {
    color: #ffc107;
    font-weight: 100;
    margin-top: 20px;
    font-size: 18px;
}

.single-footer-widget.section_padding_0_130 {
    color: white;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #ffffff;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #cf9c06;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #ffffff;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
    text-decoration: none;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #cf9c06;
}

.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f7f7f7;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}

i.fa {
    color: #001a36;
}

.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}

/* My Reports */
.report-list-item {
    border-radius: 8px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

/* New Report */
input.input-main.btn-generate {
    margin: inherit;
}

/* Recording */
.disclaimer {
    width: 95%;
    margin: auto;
}
.external-recording-page-btn{
    margin: auto;
}
/* My Profile */
.form-message {
    color: red;
    font-size: 12px;
}

ul.custom-bullet li {
    list-style-type: disc;
    margin-left: 20px; /* Ajuste conforme necessário */
}
.password-change-container {
    display: grid;

}
.change_password_item {
    margin-top: 10px;
}
.buttons-container {
    display: flex;
}
.dengerous-btns {
    margin-left: 10px;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 0;
    height: 300px;
    background-image: url("../images/profile_bk.webp");
    background-size: cover;
    background-position-x: center; 
    background-repeat: no-repeat;
}


.card-no-border .card {
    border-color: #d7dfe3;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

section.user-data.mt-4 {
    margin: 0 !important;
}

.title-w-btn {
    display: flex;
}
.privacy-btn {
    margin-left: 10px;
    padding-top: 5px;
}
