<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">        
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body id="{{ current_page }}" class="d-flex flex-column h-100">
    <nav class="site-navbar navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand product-title" href="{{ url_for('main.home') }}">keysession</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.new_report') }}">Painel</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('main.recording') }}">Gravar Reunião</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ url_for('static', filename='images/user_pictures/'+current_user.user_pic) }}" alt="" width="32" height="32" class="rounded-circle me-2">
                            {{ current_user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('main.my_account') }}">Meu Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.logout') }}">Sair</a></li>
                        </ul>
                    </li>        
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.plans') }}">Planos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li login_btn class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.login') }}">Entrar / Registrar</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>    

<main class="flex-shrink-0">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
  
    {% block content %}{% endblock %}
</main>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<footer class="site-footer footer_area section_padding_130_0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-footer-widget section_padding_0_130">
              <div class="footer-logo mb-3"></div>
              <p><p class="product-title">keysession</p>Transformando suas reuniões com inteligência artificial.</p>
              <div class="copywrite-text mb-5">
                <p class="mb-0">Desenvolvido <i class="lni-heart mr-1"></i>por <a class="ml-1" target="_blank" href="https://www.instagram.com/matheus.meirelless/">Matheus Meirelles</a></p>
              </div>
              <div class="footer_social_area">
                <a href="https://instagram.com/key.session" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://linkedin.com/company/keysession" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <h5 class="widget-title">Sobre</h5>
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Quem somos?</a></li>
                  <li><a href="#">Termos &amp; Políticas</a></li>
                  <li><a href="#">Comunidade</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <h5 class="widget-title">Suporte</h5>
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Suporte</a></li>
                  <li><a href="#">Política de Privacidade</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <h5 class="widget-title">Contato</h5>
              <div class="footer_menu">
                <ul>
                  <li><a href="mailto:keysession.adm@gmail.com?subject=Primeiro%20Contato&body=Ol%C3%A1,%20gostaria%20da%20sua%20ajuda%20a%20respeito%20de:">keysession.adm@gmail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
