{% extends "base.html" %}
{% block title %}Quem Somos{% endblock %}

{% block content %}
<br><br>
<div class="container">
	<br>
    <h1>Quem Somos - Keysession</h1>
    <p>Bem-vindo ao Keysession, a sua solução definitiva para documentação e gerenciamento de reuniões. Nossa missão é simplificar a forma como as reuniões são registradas, permitindo que você se livre da tarefa árdua de tomar notas e se concentre no que realmente importa.</p>
	<br>
    <h2>Nossa Tecnologia</h2>
    <p>Utilizando as mais avançadas tecnologias de Machine Learning, Inteligência Artificial e Programação Neurolinguística, nós redefinimos a maneira de documentar e gerenciar reuniões. Nossa plataforma captura cada momento das suas reuniões, transformando gravações de áudio em relatórios detalhados e organizando suas notas de forma inteligente e acessível.</p>
	<br>
    <h2>Nossas Ofertas</h2>
    <p>Oferecemos uma ferramenta que não apenas transcreve as discussões da sua reunião, mas também as analisa, destacando os pontos principais e organizando-os em um formato fácil de entender. Essa abordagem não apenas economiza seu tempo, mas também garante que nenhum detalhe importante seja perdido.</p>
    <p>A flexibilidade é um de nossos pilares. Com a Keysession, você tem a opção de exportar os relatórios gerados em diversos formatos, facilitando o compartilhamento de informações e garantindo uma colaboração eficaz entre todos os participantes da reunião.</p>
	<br>
    <h2>Sobre o Fundador</h2>
    <p>O Keysession é uma criação de Matheus Meirelles (@matheus.meirelless), um empreendedor apaixonado por tecnologia, especialista em análise de dados e profissional de TI com mais de 5 anos de experiência. A visão de Matheus para o Keysession nasceu de uma conversa com um amigo (lembrado seja, Gustavo, por plantar essa semente na minha cabeça, obrigado, amigo.) e sua própria necessidade de tornar as reuniões mais eficientes e produtivas, empregando seu vasto conhecimento em tecnologias emergentes para desenvolver uma solução que atendesse a essa demanda.</p>
	<br>
    <h2>Nossa Promessa</h2>
    <p>Nosso compromisso é com a sua produtividade e eficiência. Permita que nossa solução faça o trabalho pesado por você, capturando e analisando cada momento das suas reuniões. Transforme seu processo de documentação com o Keysession, onde a tecnologia encontra a conveniência para tornar cada reunião um sucesso.</p>
    <p>Explore o Keysession hoje e veja como podemos transformar a maneira como você documenta suas reuniões, liberando você para se concentrar nas decisões e discussões que realmente importam. Junte-se a nós nessa jornada para redefinir a produtividade e a colaboração em reuniões.</p>
	<br>
</div>
{% endblock %}
