{% set current_page = 'home' %}
{% extends "base.html" %}
{% block title %}keysession{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<div class="hero-section">
    <video autoplay muted loop id="heroVideo" style="position: absolute; width: 100%; left: 0; top: 0; height: 100%; object-fit: cover; z-index: -2;" preload="auto">
        <source src="{{ url_for('static', filename='videos/background.mp4') }}" type="video/mp4">
        Seu navegador não suporta vídeos HTML5.
    </video>
    <div class="container home-hero-content">
        <div class="hero-content">
            <h1>Transforme suas Reuniões com Inteligência Artificial</h1>
            <p>Capte cada palavra, analise insights e melhore a acessibilidade em tempo real.</p>
            <br>
            <a href="{{ url_for('main.plans') }}" class="btn-main">Comece Agora!</a>
        </div>
    </div>
    <div class="scroll-down-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m12 17.586-7.293-7.293-1.414 1.414L12 20.414l8.707-8.707-1.414-1.414L12 17.586z"/><path d="m20.707 5.707-1.414-1.414L12 11.586 4.707 4.293 3.293 5.707 12 14.414l8.707-8.707z"/></svg>
    </div>
</div>


<div class="features-section">
    <div class="container">
        <h2>O que oferecemos?</h2>
        <div class="features-grid">
            <div class="feature-box">
                <h3>Relatórios com IA</h3>
                <p>Obtenha relatórios detalhados e análises aprofundadas gerados por IA. Suas reuniões não serão as mesmas após começar a usar o keysession.</p>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="call-to-action-section">
    <div class="container">
        <h2>Pronto para elevar suas reuniões ao próximo nível?</h2>
        <p>Experimente nosso serviço hoje e veja o aumento de produtividade ainda hoje.</p>
        <br>
        <a href="{{ url_for('main.plans') }}" class="btn-main">Teste Gratuitamente!</a>
    </div>
</div>

<div class="features-section description">
    <div class="container description">
        <h2>Descubra Nossa Solução Inovadora</h2>
        <p>Livre-se da tarefa árdua de tomar notas e concentre-se no que realmente importa.</p>
        <p>Empregando as mais avançadas tecnologias de Machine Learning, Inteligência Artificial e Programação Neurolinguística, nosso serviço redefine a maneira como as reuniões são documentadas e gerenciadas. Permita que nossa solução faça o trabalho por você, capturando cada momento da sua reunião, gerando relatórios detalhados e organizando suas notas de forma inteligente.</p>
        <p>Com nossa plataforma, o histórico completo de suas reuniões fica nomeado, organizado e acessível sem nenhum esforço manual. Lembre-se <b>apenas</b> de gravar sua reunião e deixe que cuidemos do restante, transformando seu áudio em insights valiosos.</p>
        <p>Além disso, oferecemos a flexibilidade de exportar esses relatórios em diversos formatos, facilitando o compartilhamento de informações com os participantes da reunião e garantindo uma colaboração eficaz.</p>
    </div>
</div>

<div class="call-to-action-btn-section">
    <div class="container">
        <a href="{{ url_for('main.plans') }}" class="btn-main">Transforme suas Reuniões!</a>
    </div>
</div>

{% endblock %}
