{% extends "base.html" %}
{% block title %}Gravar Reunião{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <h2 class="text-center">Gravar Reuniões</h2>
    <p class="text-justify disclaimer">
        Entendemos a importância de gravar reuniões para referência futura, no entanto, devido a restrições técnicas e de privacidade, não oferecemos uma solução direta para gravação de áudio e vídeo de reuniões em nossa plataforma. Prezamos pela segurança e privacidade dos nossos usuários, recomendando assim o uso de ferramentas externas confiáveis e renomadas para essa finalidade. Abaixo, você encontrará opções recomendadas para gravar suas reuniões com segurança e facilidade.
    </p>

    <div id="options-container" class="options-container">
        <!-- Google Meet -->
        <div class="option-box">
            <div class="recording-block">
                <img height="40px" src="static/images/google_meet.png" alt="Google Meet Logo" class="block-logo">
                <br><br>
                <p>Aprenda como gravar suas reuniões no Meet, diretamente em sua plataforma.</p>
                <hr>
                <a target="_blank" href="https://support.google.com/meet/answer/9308681?hl=pt-BR&sjid=9313475760571365109-SA#zippy=%2Cassistir-compartilhar-fazer-o-download-ou-salvar-uma-grava%C3%A7%C3%A3o" class="btn-default external-recording-page-btn">Aprender Mais</a>
            </div>
        </div>

        <!-- Microsoft Teams -->
        <div class="option-box">
            <div class="recording-block">
                <img height="40px" src="static/images/teams.png" alt="Microsoft Teams Logo" class="block-logo">
                <br><br>
                <p>Aprenda como gravar suas reuniões no Teams, diretamente em sua plataforma.</p>
                <hr>
                <a target="_blank" href="https://support.microsoft.com/pt-br/office/gravar-uma-reuni%C3%A3o-no-microsoft-teams-34dfbe7f-b07d-4a27-b4c6-de62f1348c24" class="btn-default external-recording-page-btn" >Aprender Mais</a>
            </div>
        </div>

        <!-- Zoom -->
        <div class="option-box">
            <div class="recording-block">
                <img height="40px" src="static/images/zoom.png" alt="Zoom Logo" class="block-logo">
                <br><br>
                <p>Aprenda como gravar suas reuniões no Zoom, diretamente em sua plataforma.</p>
                <hr>
                <a target="_blank" href="https://support.zoom.com/hc/pb/category?id=kb_category&kb_category=55597a9a8720391089a37408dabb353e" class="btn-default external-recording-page-btn">Aprender Mais</a>
            </div>
        </div>

        <!-- OBS Studio -->
        <div class="option-box">
            <div class="recording-block">
                <img height="40px" src="static/images/obs.png" alt="Zoom Logo" class="block-logo">
                <br><br>
                <p>Se preferir, utilize um programa como o OBS Studio, focado em gravação de tela.</p>
                <hr>
                <a target="_blank" href="https://obsproject.com/pt-br" class="btn-default external-recording-page-btn">Aprender Mais</a>
            </div>
        </div>

    </div>

    <br><br>
</div>
{% endblock %}
