{% set current_page = 'register' %}
{% extends "base.html" %}
{% block title %}Cadastrar{% endblock %}

{% block content %}
<div class="form-container">
    <form action="{{ url_for('main.register') }}" method="post" class="form-box">
        <h2>Cadastrar</h2>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div id="user-pic">
                <img class="user-pic-form-item" style="border-radius: 100%" height="80px" src="{{ url_for('static', filename='images/user.png') }}" alt="user" id="selectedImagePreview">
                <p class="user-pic-form-item">Trocar Foto</p> 
            </div>

            <div class="modal" id="picModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Escolher Foto de Perfil</h5>
                        </div>
                        <div class="modal-body user-pic-options-modal-body">
                            {% for i in range(1, 7) %}
                            <img style="border-radius: 100%" height="120px" class="user-pic-options" src="{{ url_for('static', filename='images/user_pictures/user' ~ i ~ '.webp') }}" alt="user{{i}}" class="pic-option" onclick="selectPic('user{{ i }}.webp', this)">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.username.label }} {{ form.username() }}
        </div>
        <div class="form-group">
            {{ form.email.label }} {{ form.email() }}
        </div>
        <div class="form-group">
            {{ form.password.label }} {{ form.password() }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }} {{ form.confirm_password() }}
        </div>
        <div class="form-group">
            {{ form.plan.label }} {{ form.plan() }}
        </div>
        <a href="{{ url_for('main.login') }}">Já tem conta? Entre aqui!</a>
        <div class="form-group">
            <label for="terms"><input type="checkbox" id="terms" name="terms" required> Eu aceito os <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal">Termos de Uso</a></label>
        </div>
        <div id="signup" class="form-group">
            {{ form.submit() }}
        </div>
    </form>
</div>
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">Termos de Uso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="terms">
                <h1>Termos de Uso do Keysession</h1>
                <br>
                <h2>Aceitação dos Termos</h2>
                <p>Ao acessar e usar o site Keysession (<a href="https://keysession.com.br">https://keysession.com.br</a>), você concorda em cumprir estes Termos de Uso e todas as leis e regulamentos aplicáveis ao uso do serviço. Se você não concorda com estes termos, está proibido de usar ou acessar este site.</p>
                <br>
                <h2>Descrição do Serviço</h2>
                <p>O Keysession é uma plataforma que oferece a criação automatizada de resumos e atas de reuniões a partir de gravações fornecidas pelos usuários. Utilizando tecnologia de Inteligência Artificial, transcrevemos e analisamos arquivos MP3 e MP4 para gerar documentos estruturados com os tópicos discutidos durante as reuniões.</p>
                <br>
                <h2>Registro e Conta</h2>
                <p>Para acessar certos recursos do site, você deve criar uma conta, fornecendo informações verdadeiras e completas conforme solicitado no formulário de registro. Você é responsável pela confidencialidade de sua conta e senha, bem como por todas as atividades que ocorram sob sua conta.</p>
                <br>
                <h2>Uso Permitido</h2>
                <p>Você concorda em usar o Keysession apenas para fins legais e autorizados pela nossa política. O uso indevido dos serviços oferecidos, incluindo a submissão de conteúdo ilegal ou a violação de direitos de propriedade intelectual, resultará na suspensão ou encerramento de sua conta.</p>
                <br>
                <h2>Direitos Autorais e Propriedade Intelectual</h2>
                <p>O conteúdo do Keysession, incluindo texto, gráficos e código, é protegido por direitos autorais e marcas registradas. Você pode usar nosso serviço para suas necessidades pessoais ou comerciais internas, mas não pode reproduzir, duplicar ou vender qualquer parte do serviço sem nossa permissão expressa por escrito.</p>
                <br>
                <h2>Isenção de Responsabilidade</h2>
                <p>O Keysession não garante que o serviço será ininterrupto, seguro ou livre de erros. Não assumimos responsabilidade por erros ou omissões nos conteúdos gerados pelo serviço ou por perdas ou danos que possam surgir do uso do serviço.</p>
                <br>
                <h2>Limitação de Responsabilidade</h2>
                <p>Em nenhuma circunstância o Keysession ou seus fornecedores serão responsáveis por quaisquer danos indiretos, incidentais, especiais ou consequenciais resultantes do uso ou da incapacidade de usar o serviço.</p>
                <br>
                <h2>Alterações nos Termos de Uso</h2>
                <p>Reservamo-nos o direito de modificar estes Termos de Uso a qualquer momento. Sua continuação no uso do site após tais mudanças constituirá seu consentimento a tais alterações.</p>
                <br>
                <h2>Cancelamento</h2>
                <p>Você pode cancelar sua conta a qualquer momento através das configurações de sua conta. Após o cancelamento, você não terá mais acesso aos serviços oferecidos pelo Keysession.</p>
                <br>
                <h2>Lei Aplicável</h2>
                <p>Estes Termos de Uso serão regidos e interpretados de acordo com as leis do Brasil, sem considerar conflitos de princípios legais.</p>
                <br>
                <h2>Contato</h2>
                <p>Para qualquer dúvida ou preocupação em relação a estes Termos de Uso, por favor, entre em contato conosco pelo e-mail <a href="mailto:keysession.adm@gmail.com">keysession.adm@gmail.com</a> ou <a href="mailto:matheus.meirellessilva@hotmail.com">matheus.meirellessilva@hotmail.com</a>.</p>
                <br>
                <p>Ao utilizar o Keysession, você reconhece que leu, entendeu e concordou em estar vinculado a estes Termos de Uso, efetivos a partir de 10 de Abril de 2024.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>
    function selectPic(picName, element) {
        document.getElementById('selectedImagePreview').src = "{{ url_for('static', filename='images/user_pictures/') }}" + picName;
        document.getElementById('user_pic').value = picName;
        $('#picModal').modal('hide');
    }
</script>
    
{% endblock %}
