{% extends "base.html" %}
{% block title %}Guia de Segurança{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <h1>Guia de Segurança do Keysession</h1>
    <p>Bem-vindo ao Guia de Segurança do Keysession. Nossa prioridade é garantir que seus dados permaneçam seguros e protegidos enquanto você aproveita os benefícios de nossos serviços. Este guia fornece práticas recomendadas, dicas de segurança e medidas que adotamos para proteger suas informações.</p>
    <br>
    <h2>Sua Segurança Começa com Você</h2>
    <h5>Senhas Fortes</h5>
    <ul class="custom-bullet">
        <li>Crie senhas fortes e únicas para sua conta no Keysession. Recomendamos combinar letras maiúsculas e minúsculas, números e símbolos.</li>
        <li>Evite usar a mesma senha em múltiplas plataformas ou serviços.</li>
        <li>Atualize suas senhas regularmente para ajudar a manter sua conta segura.</li>
    </ul>
    <br>
    <h5>Autenticação de Dois Fatores (2FA)</h5>
    <p>Ative a autenticação de dois fatores para adicionar uma camada extra de segurança ao processo de login. Com 2FA, mesmo que sua senha seja comprometida, os invasores precisarão de um segundo código para acessar sua conta.</p>
    <br>
    <h5>Verificação de E-mail</h5>
    <p>Confirme seu e-mail após o registro para garantir que podemos entrar em contato com você em caso de atividades suspeitas ou alterações importantes na sua conta.</p>
    <br>
    <h3>Proteção de Dados Pessoais</h3>
    <h5>Gerenciamento de Dados de Conta</h5>
    <p>Revise e atualize regularmente suas informações de perfil para garantir que estejam corretas e seguras.</p>
    <p>Seja cauteloso ao compartilhar informações pessoais em qualquer plataforma online. Pense cuidadosamente antes de divulgar informações sensíveis.</p>
    <br>
    <h5>Exclusão de Dados</h5>
    <p>Você pode excluir sua conta e dados associados a qualquer momento. Ao fazer isso, todos os dados, incluindo relatórios e informações da conta, serão permanentemente removidos.</p>
    <br>
    <h2>Segurança em Nossa Plataforma</h2>
    <h5>Criptografia e Segurança dos Dados</h5>
    <p>Utilizamos criptografia e outras tecnologias de segurança para proteger seus dados durante a transmissão e armazenamento. Apenas pessoal autorizado tem acesso aos dados para fins de manutenção e análise, garantindo a confidencialidade e integridade dos seus dados.</p>
    <br>
    <h5>Proteção contra Acesso Não Autorizado</h5>
    <p>Implementamos sistemas de detecção de intrusão para monitorar e proteger contra atividades suspeitas. Regularmente atualizamos nossas práticas de segurança e tecnologias para lidar com novas ameaças.</p>
    <br>
    <h2>Boas Práticas de Segurança</h2>
    <h5>Conscientização sobre Phishing</h5>
    <p>Esteja atento a e-mails e mensagens fraudulentas tentando se passar pelo Keysession. Nunca forneça suas credenciais de login ou informações pessoais em resposta a e-mails suspeitos.</p>
    <p>Verifique o remetente e o URL em e-mails antes de clicar em links ou anexos.</p>
    <br>
    <h5>Segurança de Rede</h5>
    <p>Utilize conexões de internet seguras ao acessar sua conta. Evite o uso de redes Wi-Fi públicas não seguras para transações ou atividades que requerem login.</p>
    <br>
    <h2>Em Caso de Problemas</h2>
    <h5>Contato de Suporte</h5>
    <p>Se você suspeitar de uma violação de segurança, acesso não autorizado à sua conta ou receber comunicações suspeitas relacionadas ao Keysession, entre em contato imediatamente através do e-mail <a href="mailto:keysession.adm@gmail.com">keysession.adm@gmail.com</a> ou <a href="mailto:matheus.meirellessilva@hotmail.com">matheus.meirellessilva@hotmail.com</a>.</p>
    <br>
    <p>O Keysession está comprometido em manter a segurança de seus dados e oferecer um ambiente seguro para todos os nossos usuários. Seguindo estas práticas recomendadas e utilizando as funcionalidades de segurança fornecidas, você pode ajudar a proteger suas informações pessoais e melhorar sua segurança online.</p>
</div>
{% endblock %}
